:root {
  --primary: #424530;
  --secondary: #A58E74
}

html, body {
  margin: 0;
  font-size: 16px;
}

.navbar, .offcanvas {
  background-color: #E4DDD5;
  color: var(--primary);
}

.offcanvas {
  max-width: 320px;
}

.text-color-primary {
  color: var(--primary);
}

.nav .nav-link {
  color: var(--primary);
  position: relative;
}

.nav .nav-link:hover {
  color: var(--primary);
  background-color: #42453017;
}

.nav .nav-link--active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary);
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sidebar .nav-link {
  position: relative;
}

.sidebar .nav-link:hover {
  color: var(--primary);
  background-color: #42453017;
}

.sidebar .nav-link--active {
  background-color: #42453017
}

.sidebar .nav-link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary);
}

.search {
  height: 27px;
  font-size: 12px;
  border: none;
  background-color: #FAF9F8;
}

.search:focus {
  box-shadow: 0 0 0 0.15rem #42453017;
}

.search-icon {
  position: absolute;
  float: right;
  right: 10px;
  bottom: 2px;
}

.dropdown-menu {
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-item:hover {
  background-color: #F1EEEA;
}

hr {
  margin: 0;
}

li .list-group-item {
  background-color: #E4DDD5;
  border: none;
  padding-left: 40px;
}

li .list-group-item:hover {
  background-color: #42453017;
}

li .list-group-item--active {
  background-color: #42453017
}

li .list-group-item--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary);
}

.carousel-indicators [data-bs-target] {
  background-color: #CECECE;
}

.carousel-indicators .active {
  background-color: var(--secondary);
}

.button-primary {
  background-color: var(--primary);
  color: #FFF;
  border-radius: 4px;
}

.button-primary:hover {
  background-color: #3B3E29;
  color: #FFF;
}

.carousel-caption {
  bottom: 12%;
}

.bg-primary {
  background-color: #C6C7C1 !important;
}

.bg-secondary {
  background-color: #E4DDD5 !important;
}

.bg-tertiary {
  background-color: #FFFAF0 !important;
}

.c-primary {
  color: var(--primary);
}

.c-secondary {
  color: var(--secondary);
}

.card-img {
  height: 270px;
  background-size: 100% auto; 
  background-position: center bottom;
  cursor: pointer;
}

.card-img:hover {
  background-size: 110% auto;
  transition: all linear 0.1s;

}

.cart-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem !important; 
  width: 100% !important;
  margin-bottom: 1rem;
}

.cart-card-img {
  height: 120px;
  width: 120px;
  background-size: 100% auto; 
  background-position: center bottom;
  cursor: pointer;
} 

.cart-card-img:hover {
  background-size: 110% auto;
  transition: all linear 0.1s;
}

.product-detail-img {
  height: 400px;
  background-size: auto 100%; 
  background-position: left bottom;
  background-repeat: no-repeat;
}

.card-product-detail {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 60px;
}

.cart-product-detail {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 47px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px !important;
}

.strikethrough {
  text-decoration: line-through;
}

.text-red {
  color: #C52E2E;
}

.text-gray {
  color: #CECECE;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 300px;
  width: 300px;
  padding: 1rem 1rem 0rem 1rem;
  border: none;
}

.carousel-control-prev, .carousel-control-next {
  width: fit-content;
}

.carousel-control-prev svg {
  background-color: #a58e74;
  padding: 4px;
  border-radius: 50%;
  fill: white;
}

.carousel-control-next svg {
  background-color: #a58e74;
  padding: 4px;
  border-radius: 50%;
  fill: white;
}

.rating-star {
  display: flex;
  gap: 0.25rem
}

.reviewer {
  display: flex;
  gap: 1.25rem;
  padding-top: 2.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

footer {
  background-color: #6A6A6A;
  color: #FFF !important;
}

footer .nav-link {
  list-style-type: none;
  color: #FFF !important;
  font-size: 14px;
}

.social-media {
  background-color: #797979;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 14px;
}

#product-container .card {
  background-color: #EFEFEF;
}

.active>.page-link, .page-link.active {
  background-color: #F1EEEA !important;
  border-color: #dee2e6 !important;
}

a {
  text-decoration: none;
}

a .product-name{
  color: var(--primary);
}

.cart-product-amount {
  width: 45px;
  height: 30px;
  border-radius: 0;
  margin-left: -1px;
}

.btn-group {
  height: 30px;
}

.btn-group>.btn svg {
  margin-bottom: 10px;
}

.product-amount-value {
  position: absolute;
  width: 100%;
  top: 12% !important;
  left: 0 !important;
  text-align: center;
}

.btn-outline {
  border: 1px solid #dee2e6;
}

.btn-outline:hover {
  border: 1px solid #dee2e6;
  background-color: #E4DDD5;
}

.cart-product-trash {
  border: none;
  background: transparent;
}

.order-summary-container {
  padding: 1rem;
  background-color: #F4F1EE;
  border-radius: 14px;
}

@media (max-width: 576px) {
  .carousel-caption .button-primary {
    border: none;
    background: transparent;
    color: var(--primary);
    text-decoration: underline;
    font-size: 10px;
  }

  .carousel-caption {
    bottom: 10%;
  }
}